/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {

  /* select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  } */
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {

  /* select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  } */
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {

  /* select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  } */
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {

  /* select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  } */
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}
@media screen and (min-width: 1900px) {
  .optionMenu {
    right: 18px !important;
  }
}
@media screen and (min-width: 1600px) {
  .optionMenu {
    right: 18px !important;
  }
}
@media screen and (min-width: 1400px) {
  .optionMenu {
    right: 30px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) {
  .moreOptions {
    display: none !important;
  }

  .moreOptionDropDown {
    background-color: unset !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 1.5rem !important;
  }

  .moreOptions {
    display: none !important;
  }

  .moreOptionDropDown {
    background-color: unset !important;
  }

  .map .logo-md {
    display: none !important;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

  /* For portrait layouts only */
  .optionMenu {
    right: 10px !important;
  }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

  /* For landscape layouts only */
  .optionMenu {
    right: 10px !important;
  }
}
@media only screen and (device-width: 768px) {

  /* For general iPad layouts */
  .moreOptions {
    display: none !important;
  }

  .optionMenu {
    right: 13px !important;
  }

  .moreOptionDropDown {
    background-color: unset !important;
  }

  .scenario-content-section {
    width: calc(100% - 25px) !important;
  }

  .mapDataContainer {
    height: calc(100% - 110px);
  }
}
@media (max-width: 768px) {
  .icon-link {
    height: 30px !important;
    line-height: 32px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .timeline-prev-slide,
  .timeline-next-slide {
    height: auto;
    margin-top: -1px;
  }

  .icon-link {
    height: 30px !important;
    line-height: 32px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .optionMenu {
    right: 10px !important;
    top: 37px !important;
    ;
  }

  .title {
    font-size: 1.5rem !important;
  }

  .map .logo-sm {
    display: none !important;
  }
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  body,
  .scenario-name {
    font-size: .9rem !important;
  }
  .mapDataContainer {
    height: calc(100% - 110px);
  }

  #mapCanvas {
    height: calc(100vh - 145px) !important;
  }

  /* .title {
    font-size: 1.2rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
  } */

  .owl-carousel-timeline .owl-nav .owl-prev {
    background-color: transparent;
    border: none;
    left: 47px;
    top: -39px;
  }

  .owl-carousel-timeline .owl-nav .owl-next {
    background-color: transparent;
    border: none;
    right: 5px;
    top: -39px;
  }

  .scenario-content-section,
  .timeline-content-section {
    width: calc(100% - 5px);
    padding: 0px 20px;
  }

  .claro .dijitTooltipContainer {
    max-height: 30vh !important;
    width: 98% !important;
  }

  #queryByName {
    width: 52% !important;
  }

  .modal-dialog {
    max-width: 90% !important;
    top: 35% !important;
    left: 2%;
  }

  .esriSimpleSliderTL {
    left: 5px !important;
    top: 43px;
  }

  .customZoom {
    left: 16% !important;
  }

  .optionMenu {
    right: 9px !important;
    top: 37px !important;
  }

  .dropdown {
    background-color: unset !important;
  }

  .sticky-container {
    top: 280px !important;
  }

  .map .logo-sm {
    display: none !important;
  }
  body.container-fluid {
    padding: 0px 5px;
  }
  .logo {
    height: 25px;
      width: 25px;
  }
  .scenario-heading-section {
    font-size: 1rem;
    font-weight: bold;
  }
  .mobileHeaderRow .applicationTitle{
    color:white;
    margin-left: .2rem;
    font-size: 1.2rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mobileHeaderRow a {
    display: flex;
  }
  .mobileHeaderRow  .icon-bar {
    padding-right: 2px;
  }
  .mobileHeaderRow  .icon-bar .icon-link,
  .mobileHeaderRow .icon-bar .dashboardButton {
    width: 15px !important;
    height: 15px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: .15rem!important;
    font-size: .8rem !important;
  }
  .mobileHeaderRow  .icon-link .fa
   {
    font-size: .8rem !important;
  }
  .mobileHeaderRow  .hamburgerIcon
   {
    font-size: 1.6rem !important;
  }
  .mobileQueryBoxRow .input-group,
  .mobileQueryBoxRow .resetDefault{
    height: 30px;
  }
  .mobileQueryBoxRow .resetDefault fa {
font-size: 1em;
  }
.mobileQueryBoxRow #queryByName {
  height: 100% ;
}
.scenario-content-section img.scenario-icon {
  height: 20px; width: 20px;
}
.scenario-content-section  button.owl-prev,
.scenario-content-section  button.owl-next
 {
  top: 8px;
}
.scenario-content-section .owl-carousel .owl-nav button.owl-next,
.scenario-content-section .owl-carousel .owl-nav button.owl-prev {
  height: 15px;
}
.icon-link {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
 .footer-section {
   padding: 5px 0px 0px 0px;
 }
#chartDataTableContainerRow {
  order: 1;
}
#mapContainerRow {
  order: 2;
  height: 100%;
}
.mapContainer {
  height: calc(100% - 74px);
}
.chartContainer {
  max-height: calc(100% - 89px);
}
.dataTableContainer {
  max-height: calc(100% - 73px);
}
#renderField button > span::after {
  content: "";
}
.projectionsRow {
  position: absolute;
    z-index: 1;
    top: 213px;
    left: 11px;
}
.renderField .fa-bed,
.renderField .fa-users {
  padding-right: 0px !important;
  padding: 5px 0px 5px 0px !important;
}
#renderField .renderBtnText {
  display: none;
}
.projection-content-section {
  width: 100% ;
}
.supported-content {
  height: calc(100% - 128px);
}
}
