/*** Styles added to fix the issue with zoom in on iphone ***/


/* iPhone < 5: */

@media screen and (device-aspect-ratio: 2/3) {
    /* select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  } */
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}


/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */

@media screen and (device-aspect-ratio: 375/667) {
    /* select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  } */
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}

@media screen and (min-width: 1900px) {
    .optionMenu {
        right: 18px !important;
    }
}

@media screen and (min-width: 1600px) {
    .optionMenu {
        right: 18px !important;
    }
}

@media screen and (min-width: 1400px) {
    .optionMenu {
        right: 30px !important;
    }
}

@media (max-width: 1024px) {
    /*  media query for only mobile and tablet,ipad,ipad pro  portrait mode only*/
    /* @media (max-width: 480px) { media query for only mobile */
    body {
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        /* overflow: scroll; */
        -webkit-overflow-scrolling: touch;
    }
    body,
    .scenario-name {
        font-size: .9rem !important;
    }
    .mapDataContainer {
        height: calc(100% - 180px);
    }
    #mapCanvas {
        height: calc(100vh - 145px) !important;
    }
    /* .title {
    font-size: 1.2rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
    .owl-carousel-timeline .owl-nav .owl-prev {
        background-color: transparent;
        border: none;
        left: 47px;
        top: -39px;
    }
    .owl-carousel-timeline .owl-nav .owl-next {
        background-color: transparent;
        border: none;
        right: 5px;
        top: -39px;
    }
    .scenario-content-section {
        margin-bottom: .25rem;
    }
    .scenario-content-section,
    .timeline-content-section {
        width: calc(100% - 5px);
        padding: 0px 20px;
    }
    .claro .dijitTooltipContainer {
        max-height: 30vh !important;
        width: 98% !important;
    }
    #queryByName {
        min-width: auto;
        max-width: 100%;
        height: 100%;
        font-size: 1rem !important;
    }
    /* CSS changes to overide Jquery Automcomplete CSS for customise */
    #ui-id-1 {
        max-height: 200px !important;
        background-color: white !important;
        width: 300px !important;
        overflow-y: scroll !important;
        list-style-type: none !important;
        z-index: 999 !important;
        color: black !important;
        padding: 3px !important;
        border: rgb(114, 96, 96) 1px solid !important;
    }
    .ui-menu .ui-menu-item-wrapper:hover,
    .ui-menu .ui-menu-item-wrapper.ui-state-active {
        color: #303030 !important;
        background-color: #fac31d !important;
        border: #fac31d 1px solid !important;
    }
    #queryWrapper {
        flex-grow: 1;
    }
    #queryWrapper .input-group {
        margin: 5px 0px !important;
        height: 35px;
    }
    .modal-dialog {
        max-width: 90% !important;
        top: 0% !important;
        left: 2%;
    }
    .esriSimpleSliderTL {
        left: 5px !important;
        top: 43px;
    }
    .customZoom {
        left: 16% !important;
    }
    .optionMenu {
        right: 9px !important;
        top: 37px !important;
    }
    .dropdown {
        background-color: unset !important;
    }
    .sticky-container {
        top: 280px !important;
    }
    .map .logo-sm {
        display: none !important;
    }
    body.container-fluid {
        padding: 0px 5px;
    }
    .logo {
        height: 25px;
        width: 35px;
    }
    .scenario-heading-section {
        font-weight: bold;
    }
    .mobileHeaderRow .applicationTitle {
        color: white;
        margin-left: 1rem;
        font-size: 1.2rem !important;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }
    .mobileHeaderRow a {
        display: flex;
    }
    .mobileHeaderRow .icon-bar {
        padding-right: 2px;
    }
    .mobileHeaderRow .icon-bar .icon-link,
    .mobileHeaderRow .icon-bar .dashboardButton {
        width: 15px !important;
        height: 15px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-left: .15rem!important;
        font-size: .8rem !important;
    }
    .mobileHeaderRow .icon-link .fa {
        font-size: .8rem !important;
    }
    .mobileHeaderRow .hamburgerIcon {
        font-size: 1.6rem !important;
    }
    .mobileQueryBoxRow .input-group,
    .mobileQueryBoxRow .resetDefault {
        height: 30px;
    }
    .mobileQueryBoxRow .resetDefault fa {
        font-size: 1em;
    }
    .mobileQueryBoxRow #queryByName {
        height: 100%;
    }
    .scenario-content-section img.scenario-icon {
        height: 20px;
        width: 20px;
    }
    .scenario-content-section button.owl-prev,
    .scenario-content-section button.owl-next {
        top: 2px;
    }
    .scenario-content-section .owl-carousel .owl-nav button.owl-next,
    .scenario-content-section .owl-carousel .owl-nav button.owl-prev {
        height: 15px;
    }
    .icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        width: 8%;
    }
    .footer-section {
        padding: 5px 0px 0px 0px;
    }
    #chartDataTableContainerRow {
        order: 1;
    }
    #mapContainerRow {
        order: 2;
        height: 100%;
    }
    .mapContainer {
        height: calc(100% - 45px);
    }
    .dataTableContainer {
        height: calc(100% - 50px);
    }
    .dataTables_scroll {
        height: calc(100% - 80px);
    }
    .charContainerHeight {
        height: calc(100% - 80px);
    }
    #renderField button>span::after {
        content: "";
    }
    .renderField .fa-bed,
    .renderField .fa-users {
        padding-right: 0px !important;
        padding: 5px 0px 5px 0px !important;
    }
    #renderField .renderBtnText {
        display: none;
    }
    .projection-content-section {
        width: 100%;
    }
    .supported-content {
        height: calc(100% - 80px);
    }
    .tabMenu {
        margin-bottom: 2px;
    }
    .queryFilter .fa.fa-search {
        font-size: 1.2rem;
    }
    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: 0px solid #111;
    }
    .footerIcons .videoButton,
    .footerIcons .videoButton:hover,
    .footerIcons .videoButton:hover:not(.disabled) {
        background-color: #FF0000 !important;
        background-image: -webkit-linear-gradient(top, #FF0000 0%, #FF0000 100%) !important;
    }
    .footerIcons a {
        margin-right: 0px !important;
        margin-top: 0px !important;
    }
    .scenario-heading {
        white-space: nowrap;
        padding: 5px 2px;
        font-size: inherit;
        width: 30%;
        font-weight: bold;
    }
    .sliderRow {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .sliderRow .arrow-right {
        margin-right: 1px !important;
    }
    /* .applyBtn {
        margin-left: 1px !important;
    } */
    .noUi-base {
        width: 88% !important;
    }
    .timelineContainer {
        flex-wrap: wrap;
    }
    .timeline-video-container {
        align-items: center;
        margin: 5px 0px 5px 21px;
    }
    .timeline-video-item-section {
        width: 100%;
        display: flex;
    }
    .datatableTitle {
        font-size: 1em;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) and (orientation:portrait) {
    /* ipad,ipad pro,all tablet  portrait mode only */
    html body,
    body .scenario-name {
        font-size: 1.2rem !important;
    }
    .tabMenu .map,
    .tabMenu .charts,
    .tabMenu .data {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
        display: block !important;
        text-align: center;
    }
    .sliderRow .scenario-heading {
        width: 15%;
    }
    .sliderRow .arrow-right {
        width: 3%;
    }
    #slider-range,
    #duration-slider {
        color: white;
        width: calc(100% - 270px);
    }
    body #mapContainerRow,
    .sliderRow .hospitalSliderContainer,
    body #chartDataTableContainerRow {
        flex: 0 0 100%;
        max-width: 100%;
    }
    body #mapContainerRow {
        order: 2;
    }
    body #chartDataTableContainerRow {
        order: 1;
    }
    .scenarioRow .scenario-heading,
    .scenarioRow .arrow-right {
        display: none !important;
    }
    .scenarioText {
        display: flex !important;
    }
    .d-lg-flex {
        display: unset !important;
    }
    .d-none.d-lg-flex {
        display: none !important;
    }
    .d-lg-none {
        display: flex !important;
    }
    .logo {
        height: 25px;
        width: 28px;
    }
    #mapContainerRow {
        padding-right: 15px !important;
    }
    .noUi-base {
        width: 97% !important;
    }
    .timelineContainer {
        flex-wrap: nowrap;
    }
    .timeline-video-container {
        margin: 5px 0px 5px -3px;
    }
    .timeline-video-item-section a.icon-link {
        width: 100%;
    }
}

@media only screen and (min-device-width: 500px) and (max-device-width: 768px) and (orientation:portrait) {
    /* media query only for ipad portrait */
    .sliderRow .scenario-heading {
        width: 22%;
    }
    .sliderRow .arrow-right {
        width: 3%;
    }
    .sliderRow #slider-range,
    #duration-slider {
        color: white;
        width: calc(100% - 270px);
    }
    .supported-content {
        height: calc(100% - 55px);
    }
    .charContainerHeight {
        height: calc(100% - 100px);
    }
    .dataTableContainer {
        height: calc(100% - 70px);
    }
    .mapContainer {
        height: calc(100% - 100px);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1100px) and (orientation:landscape) {
    /* ipad,ipad pro,all tablet  landscape mode only */
    .scenarioRow .scenario-heading {
        width: 100%;
    }
    #mapContainerRow {
        order: 1;
    }
    #chartDataTableContainerRow {
        order: 2;
    }
    .scenario-content-section {
        width: calc(100% - 377px);
    }
    .timeline-heading-section {
        display: none !important;
    }
    .mapDataContainer {
        height: calc(100% - 74px);
    }
    .mapContainerRow .mapContainer {
        max-height: calc(100% - 69px);
    }
    .toolbarProjections {
        display: none !important;
    }
    .toolbarProjectionsMobile {
        display: flex !important;
    }
    #queryWrapper .input-group {
        margin: 0px 5px !important;
        height: auto;
    }
    .scenario-content-section .owl-carousel .owl-nav button.owl-next,
    .scenario-content-section .owl-carousel .owl-nav button.owl-prev {
        height: auto;
    }
    .noUi-base {
        width: 92%;
    }
    #slider-range,
    #duration-slider {
        color: white;
        width: calc(100% - 240px);
    }
    .timelineContainer {
        flex-wrap: nowrap;
    }
    .timeline-video-container {
        margin: 5px 0px 5px -3px;
    }
    .timeline-video-item-section a.icon-link {
        width: 100%;
    }
    #timeline .owl-item {
        font-size: .7rem;
        white-space: nowrap;
    }
}

@media only screen and (min-device-width: 1101) and (max-device-width: 1366px) and (orientation:landscape) {
    /* ipad pro landscape mode only */
    .noUi-base {
        width: 100%;
    }
}

@media only screen and (max-device-width: 500px) and (orientation:portrait) {
    /* mobile portrait mode only */
    #slider-range,
    #duration-slider {
        color: white;
        width: calc(100% - 200px);
    }
    .mapDataContainer {
        height: calc(100% - 160px);
    }
    .dataTables_scroll {
        height: calc(100% - 110px) !important;
    }
    .mapContainer {
        height: calc(100% - 120px);
    }
    .datatableTitle {
        font-size: 0.9em;
    }
}


/* android mobile galaxy Gs6 only Jquery Autocomplete suggestions width*/

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    #ui-id-1 {
        max-height: 200px !important;
        background-color: white !important;
        width: 288px !important;
        overflow-y: scroll !important;
        list-style-type: none !important;
        z-index: 999 !important;
        color: black !important;
        padding: 3px !important;
        border: rgb(114, 96, 96) 1px solid !important;
    }
    .datatableTitle {
        font-size: 0.8em;
    }
}


/* iPhone 5, 5C, 5S, iPod Touch 5g */

@media screen and (device-aspect-ratio: 40/71) {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}


/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */

@media screen and (device-aspect-ratio: 9/16) {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}