#! /bin/bash
#
# This is config script used to:
#    1. set environment variables used for loadMRDDDataIntoDB.sh script
#
# create : 07/20/2020
#
# by Shirish P. Dumbre

set -e	#Exit immediately if a command exits with a non-zero status.
set -u	#Treat unset variables as an error and exit immediately.

export SCRIPT_DIR=`pwd`
export DB_NAME="{DataBase Name}"
export SCHEMA_NAME="{Schema_Name}"	
export HOST_NAME="{Host_Name}"
export BASE_DIR_PATH="{Path of the git directory}"
export LOG_FILE="$SCRIPT_DIR/loadMRDDData.log"

### ---------- For Reference ---------- ###
#export SCRIPT_DIR=`pwd`
#export DB_NAME="geodb"
#export SCHEMA_NAME="mrddash"	#MRDD schema
#export HOST_NAME="postgis1"
#export BASE_DIR_PATH="/home/spd8r/MRDD/gitrepo/covid19-resource-allocation-ui"
#export LOG_FILE="$SCRIPT_DIR/loadMRDDData.log"
